<mat-nav-list>
    <a mat-list-item routerLink="/admin" (click)="onClose()" *ngIf="isAdmin">
        <span class="nav-caption">Админ</span>
    </a>
    <a mat-list-item routerLink="/workouts" (click)="onClose()">
        <span class="nav-caption">Бэлтгэл</span>
    </a>
    <a mat-list-item routerLink="/lessons" (click)="onClose()">
        <span class="nav-caption">Сургалт</span>
    </a>
    <a mat-list-item routerLink="/contact" (click)="onClose()">
        <span class="nav-caption">Харилцаа</span>
    </a>
    <mat-expansion-panel [class.mat-elevation-z0]="true">
      <mat-expansion-panel-header class="expansion-header">Клуб</mat-expansion-panel-header>
      <mat-nav-list>
          <a mat-list-item routerLink="/us" (click)="onClose()">Бид</a>
          <a mat-list-item routerLink="/members" (click)="onClose()">Гишүүд</a>
          <a mat-list-item routerLink="/rules" (click)="onClose()">Дотоод журам</a>
          <a mat-list-item routerLink="/collaboration" (click)="onClose()">Хамтын ажиллагаа</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
        <span class="nav-caption">Нэвтрэх</span>
    </a>
    <mat-list-item>
        <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
        <span class="nav-caption">Гарах</span>
    </button>
    </mat-list-item>

</mat-nav-list>
