<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">Цаначин</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <div fxLayout class="navigation-items">
          <button mat-button (click)="goRouterLink('admin')" *ngIf="isAdmin">Админ</button>
          <button mat-button (click)="goRouterLink('workouts')">Бэлтгэл</button>
          <button mat-button (click)="goRouterLink('lessons')">Сургалт</button>
          <button mat-button (click)="goRouterLink('contact')">Харилцаа</button>
          <button mat-button [matMenuTriggerFor]="productSub">Клуб<mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #productSub="matMenu">
                <button mat-menu-item (click)="goRouterLink('us')">Бид</button>
                <button mat-menu-item (click)="goRouterLink('members')">Гишүүд</button>
                <button mat-menu-item (click)="goRouterLink('rules')">Дотоод журам</button>
                <button mat-menu-item (click)="goRouterLink('collaboration')">Хамтын ажиллагаа</button>
            </mat-menu>
            <button mat-button *ngIf="!isAuth"><a routerLink="/login">Нэвтрэх</a></button>
            <button mat-button *ngIf="isAuth" [matMenuTriggerFor]="userMenu"><a>{{ nickname }}</a><mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item *ngIf="isAuth">Миний мэдээлэл</button>
                <button mat-menu-item *ngIf="isAuth" (click)="onLogout()">Гарах</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
