<section *ngIf="competition">
  <h2>{{ competition.name }}</h2>
  <h3>{{ competition.place }} - {{ competition.startDate.toDate() | date : 'yyyy/MM/dd' }}</h3>

  <h2>Уралдааны ангиллууд</h2>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Огноо</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.date.toDate() | date : 'yyyy/MM/dd' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ангилал</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Хүйс</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.gender }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="distance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Зай</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.distance }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Төрөл</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="align-right" mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element" class="align-right">
        <button mat-icon-button [matMenuTriggerFor]="userMenu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="showEditDialog(element.id)">Засах</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 30, 40, 80]">
  </mat-paginator>
  <button mat-raised-button color="primary" (click)="showAddDialog()" *ngIf="auth.isAdmin"><mat-icon>add</mat-icon>Нэм</button>
</section>
